.container{
  padding: 0 1rem;
  border-left: #1a1a1a solid 1px;
  background-color: #fafafa;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: space-between
}

.appData{
  background-color: #f0f3fa;
  border: 1px solid #3e74ff;
  border-radius: 6px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 10px;
}